<h1>Create a new account</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :email_address %>
  <%= f.email_field :email_address %>

  <%= f.label :password %>
  <%= f.text_field :password %>

  <%= f.submit "Create Account" %>
<% end %>
